body {
    background-color: #FCFE92;
    font-size: 30px;
    font-family: 'Red Rose', cursive;
    color: #FF5AB3;
}

header {
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

@media  screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
    }
}

.header .header__btn {
    background-color: #FCFE92;
    border: 2px solid #FF5AB3;
    border-radius: 30px;
    margin: 40px;
    font-size: 1em;
    padding: 7px 20px;
    color: #FF5AB3;
    cursor: pointer;
    font-family: 'Red Rose', cursive;
}

@media  screen and (min-width: 768px) {
    .header .header__btn {
        margin: 35px;
        font-size: 1em;
        padding: 7px 20px;
    }
}

.header p {
    margin: 50px;
    font-size: 1em;
    font-family: 'Reenie Beanie', cursive;
    color: black;
}

@media  screen and (min-width: 768px) {
    .header p {
        margin: 35px;
        font-size: 1em;
    }
}




.title, .about, .facts, .pictures {
    justify-content: center;
}

.contain {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
    position: relative;
}

@media  screen and (min-width: 768px) {
    .title {
        height: 80vh;
    }
}

.title img {
    height: 40vh;
    width: auto;
    margin: 50px 20px;
}

@media  screen and (min-width: 768px) {
    .title img {
        height: 65vh;
        width: auto;
        margin-top: 0;
    }
}

.title .title__text {
    position: absolute;
    top: 20%;
    left: 8%;
}

.title .title__text-one {
    font-size: 2.7em;
}

@media  screen and (min-width: 768px) {
    .title .title__text-one {
        font-size: 3.2em;
    }
}

.title .title__text-two {
    font-size: 1.7em;
    line-height: 0;
}

.about {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    margin-top: 30px;
}


@media  screen and (min-width: 768px) {
    .about {
        height: 70vh;
    }
}

.about .about__margin {
    margin-left: 20px;
}

.about .about__title {
    margin-top: 1em;
}

.about .about__description {
    font-size: 0.7em;
    margin-top: 2em;
}

.about .about__image {
    height: 30vh;
    width: auto;
    box-shadow: 0px 1px 10px 1px rgb(99, 99, 99);
}

@media  screen and (min-width: 768px) {
    .about .about__image {
        height: 50vh;
    }
}

.facts {
    font-size: 2em;
    color: #7DED61;
    height: 70vh;
    width: 160vw;
}

@media  screen and (min-width: 768px) {
    .facts {
        height: 10vh;
        color: #7DED61;
        height: 90vh;
        width: fit-content;
    }
}

.pictures .picture {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    justify-content: space-between;
}

.pictures .picture__title {
    font-size: 1.5em;
}

@media  screen and (min-width: 768px) {
    .pictures .picture__title {
        font-size: 2em;
    }
}

.pictures .picture__image {
    height: 25vh;
    box-shadow: 0px 1px 10px 1px rgb(99, 99, 99);
}

@media  screen and (min-width: 768px) {
    .pictures .picture__image {
        height: 50vh;
    }
}

.container {
    text-align: center;
    color: #FF5AB3;
}

.container .container__image {
    height: 61vh;
    width: auto;
    box-shadow: 0px 1px 10px 1px rgb(99, 99, 99);
}

.container h4 {
    font-family: 'Red Rose', cursive;
}

.container p {
    font-size: 0.7em;
    margin-bottom: 50px;
    font-family: 'Red Rose', cursive;
}

@media  screen and (min-width: 768px) {
    .container img {
        height: 55vh;
    }
}

/*lysere bakgrunn, så bildene popper mer*/